{% include '@madrassa/shared/modal.html.twig' with {
	'title': 'Fiche inscription',
	'size': 'modal-xl',
    'modal_content': ,
    'modal_id': 'myModal',
    'header_title_modal': 'Modal Header',
    'footer_modal': '<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>'
  } %}
