{{ attach_library('madrassa_registration/registration') }}

<div class="container">
	<ul class="breadcrumb mt-5 mb-5">
		<li>
			<a href="/admin/dashboard">Dashboard</a>
		</li>
		<li>
			<a href="#">Inscription</a>
		</li>
		<li>
			<a href="#">Parent</a>
		</li>
		<li>
			<a href="#">Enfant</a>
		</li>
		<li>
			<a href="#">Choix d'un niveau</a>
		</li>
			<li>
			<a href="#">Scolarité</a>
		</li>
		<li>Paiement</li>
	</ul>

	<div class="w3-row w3-border">
		<div class="w3-col m2 tablink w3-bottombar w3-hover-border-green w3-hover-light-grey w3-padding w3-center">
			<span class="w3-badge w3-indigo">1</span><br/>
			Ajouter un parent
		</div>
		<div class="w3-col m2 tablink w3-bottombar  w3-hover-border-green w3-hover-light-grey w3-padding w3-center">
			<span class="w3-badge w3-indigo">2</span><br/>
			Ajouter un enfant
		</div>
		<div class="w3-col m2 tablink w3-bottombar  w3-hover-light-grey w3-padding w3-center">
			<span class="w3-badge w3-indigo">3</span><br/>
			Choix d'une classe</div>
		<div class="w3-col m2 tablink w3-bottombar w3-hover-border-green w3-hover-light-grey w3-padding w3-center">
			<span class="w3-badge w3-indigo">4</span><br/>
			Frais & Scolarité
		</div>
		<div class="w3-col m2 tablink w3-bottombar w3-border-indigo  w3-green  w3-hover-border-green w3-hover-light-grey w3-padding w3-center withSteps">
			<span class="w3-badge w3-indigo">5</span><br/>
			Paiement
		</div>
		<div class="w3-col m2 tablink w3-bottombar  w3-hover-border-green w3-hover-light-grey w3-padding w3-center withSteps">
			<span class="w3-badge w3-indigo">6</span><br/>
			Recapitulatif
		</div>
		<div class="w3-col m2 tablink w3-bottombar  w3-hover-border-green w3-hover-light-grey w3-padding w3-center withSteps">
			<span class="w3-badge w3-indigo">6</span><br/>
			Fiche
		</div>
	</div>
	<form action="{{ path('children.register.step4.payment.store') }}" method="POST" id="meansPayment">

		<div class="w3-card-4 mt-5">
			<header class="w3-container w3-indigo">
				<h1>Moyen de paiement</h1>
			</header>
			<div class="w3-container w3-padding">
				<div class="row mt-2">
					<div class="col-md-6">
						<div class="form-group w3-center w3-blue-grey">
							<label for="payment_method">
								<b>Moyen de paiement</b>
							</label>
							<select class="form-control" id="payment_method" name="payment_method">
								<option value="">------ Selectionner un moyen de paiement ------
								</option>
								<option value="espece">Espèce</option>
								<option value="cheque">Chèque</option>
								<option value="virement">Virement</option>
								<option value="carte">Carte bancaire</option>
								<option value="paypal">Paypal</option>
							</select>
						</div>
						<div class="form-group mt-3 w3-center w3-blue-grey">
							<label for="amount">
								<b>Montant à payer</b>
							</label>
							<div class="input-group input-group-lg">
								<input style="font-size: 3.5rem" type="text" class="form-control display-1 w3-center" id="amount" name="amount" value="{{ payment_amount~'€' }}" readonly>
								<span class="input-group-text w3-light-grey">/an</span>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group w3-center w3-blue-grey mb-3">
							<label for="payment_date">
								<b>Date de paiement</b>
							</label>
							<input type="text" class="form-control" id="payment_date" name="payment_date" value="{{ date_now }}">
						</div>
						<div class="form-group w3-center w3-blue-grey">
							<div class="form-group w3-center w3-blue-grey mt-3">
								<label for="payment_note">
									<b>Note</b>
								</label>
								<textarea class="form-control" id="payment_note" name="payment_note" rows="4"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="row" id="payment_by_bank_transfert">
					<span class="w3-center mt-4 mb-4 w3-blue-grey">
						<b>Paiement par virement bancaire</b>
					</span>
					<div class="col">
						<table class="w3-table w3-bordered">
							<tr>
								<td>
									<strong>Titulaire du compte:</strong>
								</td>
								<td>ASSOCIATION MADRASSA</td>
							</tr>
							<tr>
								<td>
									<strong>IBAN:</strong>
								</td>
								<td>FR76 3000 3032 0000 0200 0000 007</td>
							</tr>
							<tr>
								<td>
									<strong>BIC:</strong>
								</td>
								<td>SOCIETE GENERALE</td>
							</tr>
						</table>
					</div>
					<div class="col">
						<div class="form-group w3-center">
							<label for="payment_receipt">
								<b>Reçu de paiement</b>
							</label>
							<input type="file" class="form-control" id="payment_receipt" name="payment_receipt">
						</div>
					</div>
				</div>
				<div class="row mb-5" id="payment_by_check">
					<span class="w3-center mt-4 mb-4 w3-blue-grey">
						<b>Paiement par chèque</b>
					</span>
					<div class="col">
						<table class="w3-table w3-bordered">
							<tr>
								<td>
									<strong>Ordre du chèque:</strong>
								</td>
								<td>ASSOCIATION MADRASSA</td>
							</tr>
							<tr>
								<td>
									<strong>Adresse:</strong>
								</td>
								<td>12 rue de la paix, 75000 Paris</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="mt-4 w3-center mb-5">
			<button class="btn btn-primary" type="submit">Suivant &raquo;</button>
		</div>
	</form>
</div>
